.icon {
    width: 20px
}

.profile-icon {
    width: 45px;
    border-radius: 50%;
}

.profile-pic {
    border-radius: 50%;
    width: 70px;
}

.logo-pic {
    width: 50px;
}

.invert {
    filter: invert(100%);
}

.nav-icon {
    width: 30px;
    margin-right: 20px;
}